<div class="row body-content">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="row col-xs-12">
            <div class="posts" ng-animate-ref="{{post.id}}">
                <div class="post">
                    <h3>
                        {{post.title}}
                    </h3>
                    <div class="row">
                        <div class="col-sm-9">
                            <p>{{post.message}}</p>
                        </div>
                        <div class="col-sm-3">
                            {{post.displayName}}<br />
                            {{post.dateCreated | date:"yyyy-MM-d"}}
                        </div>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>
